<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AppFilter</filter-name>
        <filter-class>AppFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AppFilter</filter-name>
        <url-pattern>/add_admin.jsp</url-pattern>
        <url-pattern>/add_admin_success.jsp</url-pattern>
        <url-pattern>/add_update_dp.jsp</url-pattern>
        <url-pattern>/approve_users.jsp</url-pattern>
        <url-pattern>/change_pass.jsp</url-pattern>
        <url-pattern>/delete_acc.jsp</url-pattern>
        <url-pattern>/inven_history.jsp</url-pattern>
        <url-pattern>/inven_manage.jsp</url-pattern>
        <url-pattern>/inven_update.jsp</url-pattern>
        <url-pattern>/logout.jsp</url-pattern>
        <url-pattern>/profile_pic.jsp</url-pattern>
        <url-pattern>/view_complaint.jsp</url-pattern>
        <url-pattern>/view_feedback.jsp</url-pattern>
        <url-pattern>/welcome_admin.jsp</url-pattern>
        <url-pattern>/welcome_user.jsp</url-pattern>
        <url-pattern>/delete_users.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/add_admin.jsp</url-pattern>
        <url-pattern>/add_admin_success.jsp</url-pattern>
        <url-pattern>/add_update_dp.jsp</url-pattern>
        <url-pattern>/approve_users.jsp</url-pattern>
        <url-pattern>/view_complaint.jsp</url-pattern>
            <url-pattern>/delete_users.jsp</url-pattern>
        <url-pattern>/view_feedback.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approve_all</servlet-name>
        <servlet-class>approve_all</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approve_selected</servlet-name>
        <servlet-class>approve_selected</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_items</servlet-name>
        <servlet-class>add_items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plus_minus</servlet-name>
        <servlet-class>plus_minus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inven_update</servlet-name>
        <servlet-class>inven_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plus</servlet-name>
        <servlet-class>plus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>minus</servlet-name>
        <servlet-class>minus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaint</servlet-name>
        <servlet-class>complaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_admin</servlet-name>
        <servlet-class>add_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del_acc</servlet-name>
        <servlet-class>del_acc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback_read</servlet-name>
        <servlet-class>feedback_read</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaint_read</servlet-name>
        <servlet-class>complaint_read</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaint_resolve</servlet-name>
        <servlet-class>complaint_resolve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_pass</servlet-name>
        <servlet-class>change_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpass</servlet-name>
        <servlet-class>forgotpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpass2</servlet-name>
        <servlet-class>forgotpass2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_users</servlet-name>
        <servlet-class>delete_users</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approve_all</servlet-name>
        <url-pattern>/approve_all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approve_selected</servlet-name>
        <url-pattern>/approve_selected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_items</servlet-name>
        <url-pattern>/add_items</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         c:\apache-tomcat-5.5.29\webapps\data\
     </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>plus_minus</servlet-name>
        <url-pattern>/plus_minus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inven_update</servlet-name>
        <url-pattern>/inven_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plus</servlet-name>
        <url-pattern>/plus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>minus</servlet-name>
        <url-pattern>/minus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaint</servlet-name>
        <url-pattern>/complaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_admin</servlet-name>
        <url-pattern>/add_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del_acc</servlet-name>
        <url-pattern>/del_acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback_read</servlet-name>
        <url-pattern>/feedback_read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaint_read</servlet-name>
        <url-pattern>/complaint_read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaint_resolve</servlet-name>
        <url-pattern>/complaint_resolve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_pass</servlet-name>
        <url-pattern>/change_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpass</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpass2</servlet-name>
        <url-pattern>/forgotpass2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_users</servlet-name>
        <url-pattern>/delete_users</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
